@model string

<div class="modal-content" style="height:80vh;">
    <div class="modal-header">
        <h4></h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
          <input class="buttonModal btn btn-primary" type="button" value="Ок" />
    </div>
</div>
