@model List<TestWithoutAutentification.Models.AdditionalModels.ForeignLanguage>

<button type="button" class="btn btn-primary form-control">
    Добавить иностранный язык
</button>
@*<div class="row" asp-for="">
    <div class="col">
        <select asp-for="@Model..LanguageId" asp-items="ViewBag.Languages" class="form-control"></select>
    </div>
    <div class="col">
        <select asp-for="ForeignLanguageee.LanguageLevelId" asp-items="ViewBag.LanguageLevels" class="form-control"></select>
    </div>
</div>*@
