@model TestWithoutAutentification.Models.Resume
@using TestWithoutAutentification.Models.AdditionalModels
@*Создание резюме*@

@{
    ViewData["Title"] = "Создание резюме";
}
<nav class="navbar navbar-expand-sm">
    <div class="container justify-content-end">
        <partial name="_LoginPartial" />
    </div>
</nav>

<div id="PlaceHolder"></div>
<h3>Создание резюме</h3>
<hr />

<div class="mb-2">
    <a asp-action="Index" asp-controller="Home">Отмена</a>
</div>
<div class="row justify-content-between">
    <div class="col-md-4 w-75">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label class="control-label">Фото</label>
                <input type="file" class="form-control-file" id="img" name="uploadedFile" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control phone" placeholder="+7" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control">
                    <option selected disabled> </option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                @foreach (var item in (SelectList)ViewBag.Gender)
                {
                    <br />
                    <div class="form-check">
                        @Html.RadioButtonFor(m => m.GenderId, item.Value, new { id = "Gender" + item.Value, @class = "form-check-input", name = "Gender", @value = item.Value, @text = item.Text })
                        <label class="control-label form-check-label" for="">@item.Text</label>
                    </div>
                }
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkExperienceId" class="control-label"></label>
                <select asp-for="WorkExperienceId" asp-items="ViewBag.WorkExperiences" class="form-control">
                    <option selected disabled> </option>
                </select>
                <span asp-validation-for="WorkExperienceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecializationId" class="control-label"></label>
                <select asp-for="SpecializationId" asp-items="ViewBag.Specializations" class="form-control">
                    <option selected disabled> </option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <div class="row">
                    <div class="col">
                        <input asp-for="Salary.Amount" class="form-control" />
                    </div>
                    <div class="col">
                        <select asp-for="Salary.CurrencyId" asp-items="ViewBag.Currencies" class="form-control"></select>
                    </div>
                </div>
                <span asp-validation-for="Salary.Amount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label class="control-label">Места работы</label>
                <button type="button" class="btn btn-primary form-control" data-toggle="ajax-modal" data-bind="Model" data-target="#addPlaceOfWork"
                        data-url="@Url.Action("CreatePlacesOfWork", "Resumes")">
                    Добавить место работы
                </button>
            </div>*@
            <div class="form-group">
                <label asp-for="AboutMyself" class="control-label"></label>
                <textarea asp-for="AboutMyself" rows="5" class="form-control"></textarea>
                <span asp-validation-for="AboutMyself" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevelId" class="control-label"></label>
                <select asp-for="EducationLevelId" asp-items="ViewBag.EducationLevels" class="form-control">
                    <option selected disabled> </option>
                </select>
                <span asp-validation-for="EducationLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForeignLanguage" class="control-label"></label>
                <div class="row">
                    <div class="col">
                        <select asp-for="ForeignLanguage.LanguageId" asp-items="ViewBag.Languages" class="form-control">
                            <option selected disabled></option>
                        </select>
                    </div>
                    <div class="col">
                        <select asp-for="ForeignLanguage.LanguageLevelId" asp-items="ViewBag.LanguageLevels" class="form-control">
                        </select>
                    </div>
                </div>
                @*<span asp-validation-for="ForeignLanguage" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>

        </form>
    </div>
    <div class="w-25 text-center">
        <img id="img-preview" class="avatar" src="~/avatar/noimage.png" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}   
}
