@*@model TestWithoutAutentification.ViewModels.CompanyRegisterModel*@
@model TestWithoutAutentification.Models.Company
<h2>Регистрация компании</h2>

<a asp-action="CompanyLogin" asp-controller="Account">Войти</a>

<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true" asp-action="CompanyRegister" asp-controller="Account" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><br />
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label><br />
                <input type="text" asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <h5>Контактная информация</h5>
            <div class="form-group">
                <label asp-for="FirstNameContactPerson" class="control-label"></label><br />
                <input type="text" asp-for="FirstNameContactPerson" class="form-control" />
                <span asp-validation-for="FirstNameContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameContactPerson" class="control-label"></label><br />
                <input type="text" asp-for="LastNameContactPerson" class="form-control" />
                <span asp-validation-for="LastNameContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label><br />
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label><br />
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label><br />
                <input asp-for="Phone" class="form-control phone" placeholder="+7" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label><br />
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Регистрация" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>