@{
    ViewData["Title"] = "HCompany Page";
}
<nav class="navbar navbar-expand-sm">
    <div class="container justify-content-end">
        <partial name="_LoginPartialCompany" />
    </div>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome to Company Page!!!</h1>
    <p>Welcome to Company PAge!!!</p>
</div>
