@model TestWithoutAutentification.Models.User

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Отправить Email</h4>
        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
    <div class="modal-body">
        <form method="post" asp-action="SendMailToCandidate" asp-controller="CompanyHome">
            <input name="id" type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Заголовок:</label>
                <input class="form-control" type="text" name="title" />
            </div>
            <div class="form-group">
                <label class="control-label">Сообщение:</label>
                <textarea name="text" rows="16" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input class="buttonModal btn btn-primary" type="submit" value="Отправить" />
            </div>
        </form>
    </div>
</div>